<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/auth.css">
    <title>Authentication Page</title>
</head>
<body>
    <!--<h1>Welcome to the Authentication Page</h1>-->

    <% if (type === 'login') { %>
        <div class = "auth-container">
            <h2>Log In</h2>
            <form action="/auth/login" method="POST" class = "auth-form">
                <!-- Login inputs -->
                <label>Email: <input type = "email" name = "email" required></label>
                <label>Password: <input type = "password" name = "password" required></label>
                <button type="submit">Log In</button>
            </form>
    </div>
    <% } else if (type === 'logout'){ %>
        <div class = "signout">
            <h2>Are you sure you want to sign out of the government page?</h2>
            <p><a href = "/government" >No go back to government page.</a></p>
            <p><a href = "/">Yes take me to the main page.</a></p>
        </div>
    <% } %> 
</body>
</html>
