<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/change-password.css">
    <title>Change Password</title>
</head>
<body>
    <h1>Change Your Password</h1>
    <form action = "/auth/change-password" method = "POST">
        <label>Current Password: <input type = "password" name = "currentPassword" required></label>
        <label>New Password: <input type = "password" name = "newPassword" required></label>
        <button type="submit">Change Password</button>
        <a href="/auth?type=login">Back to Login</a>

    </form>
   
        
 
</body>
</html>