<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Facilities</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="container">
    <% if (gov) { %>
      <h1>Welcome to the Facilities Page, government official</h1>
    <% } else { %>
      <h1>Welcome to the Facilities Page</h1>
    <% } %>

    <p>Here, you will be able to view data about facilities</p>

    <h2>Facilities</h2>
    <ul>
      <% facilities.forEach(facility => { %>
        <li>
          <a href="<%= gov ? '/government/facilities/' : '/facilities/' %><%= facility.facility_id %>">
            (ID: <%= facility.facility_id %>) <%= facility.name %>
          </a>
        </li>
      <% }); %>
    </ul>
  </div>
</body>
</html>
