<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Page</title>
</head>
<body>
    <h1>Welcome, Government Official</h1>
    <p>Here, you will be able to view data about facilities</p>
    <p>Pick one of the following tabs to view the data:</p>
    <a href="/facilities">Facilities</a>
</body>
</html>