<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content = "width = device - width, initial-scale = 1.0">
        <link rel = "stylesheet"> <!--Link css file-->
    </head>
    <body>
        <h1>Welcome to Our System</h1> <!--Open to name suggestions-->
        <p>Please log in or sign up to continue</p>
        
        <a href = "/auth?type=login"><button>Log In</button></a>
        <a href = "/auth?type=signup"><button>Sign Up</button></a>
    </body>
</html>