<!DOCTYPE html>
<html>
<head>
  <title>Healthcare Facilities in Tanzania</title>
  <style>
    #map {
      height: 600px;
      width: 100%;
    }
  </style>
</head>
<body>

<h2>Healthcare Facilities in Tanzania</h2>
<div id="map"></div>

<script>
  const facilities = <%- JSON.stringify(facilities) %>;

  function initMap() {
    const tanzaniaCenter = { lat: -6.3690, lng: 34.8888 };
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 6,
      center: tanzaniaCenter,
    });

    facilities.forEach(facility => {
      const marker = new google.maps.Marker({
        position: { lat: facility.ltd, lng: facility.lng },
        map: map,
        title: facility.name
      });

      const infoWindow = new google.maps.InfoWindow({
        content: `<strong>${facility.name}</strong>`
      });

      marker.addListener("click", () => {
        infoWindow.open(map, marker);
      });
    });
  }
  
</script>
  

<script async
  src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
</script>

</body>
</html>
